*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/waves.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
header{
    width: auto;
    height: 20%;
}
.container-logo{
    width: 200px;
    height:200px;
    display: flex;
    justify-content: center;
    margin:  auto;
    margin-top:70px;
}
#container-titulo{
    width: 200px;
    height: 100px;
    background-color: #225E77;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
h1{
    
}
.logo-site {
    width: 160px;
    height: 160px;
    display: flex;
}
main{
    width: auto;
    height:50%;
}
.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F5F5;
    border-radius: 10px;
    width: 400px;
    height: 550px;
    padding: 35px;
}
.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login input{
    margin-top: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}
.login h2{
    padding-top: 10px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
input::placeholder{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 10px;
}
.btn-google{
    width:40px;
    background-image: url(../img/google.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    margin-left:44%;
    margin-bottom: 5% ;
    
}
.btn-entrar{
    display: block;
    background-color: #225E77;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
a{
    color: #225E77;
    text-decoration: none;
    margin-left: 200px;
    margin-top: 10px;
    font-family:'Roboto', sans-serif;
}
p{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    font-family:'Roboto', sans-serif;
}
.btn-cadast{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    background-color: #E7E7E7;
    color: black;
    font: 1rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}
.nova-conta{
    display: flex;
    align-items: center;
    justify-content: center;
}