*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
}

.conteinerSearch{
    height: 9vh;
    width: auto;
    background-color: #1E7596;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 8%;
}

.logo img{
    width: 95px;
    height: 95px;

}

.barraPesquisa{
    height: 50px;
    width: 15vw;
    margin-left: 100px;
    border-radius: 100px;
    display: flex;
    background: #FFFF;
}

.barraPesquisa input{
    width: 82%;
    border-radius: 100px;
    border: none;
    background: transparent; 
    margin:5px;
}

.barraPesquisa img{
    margin:5px auto;
}

.fotoPerfil{
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background-color: #C4C4C4;
    position: absolute;
    right: 8%;
}

.conteinerTitulo{
    height: 65px;
    width: auto;
    background-color: #DCEBF2;
    
}

.conteinerTitulo h1{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: #2795D2;
    margin-top: 8px;
    margin-left: 12vw;
}

main{
    width: auto;
    padding-top: 75px;
    padding-inline-start: 21%;
    padding-inline-end: 21%;
    width: auto;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.menuVagas{
    height: fit-content;
    width: 10vw;
    background-color: #fefefe;
    border-radius: 5px; 
}

.menuVagas .menu{
    height: fit-content;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menuVagas .menu .linha{
    width: 130px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.menuVagas .menu p{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    color: #2795D2;
}

.menuVagas .menu a{
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
}

.vagasConteiner{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    gap: 45px;
}

.vagasConteiner .vagas{
    height: 250px;
    width: 35vw;
    background-color: #fefefe;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagasConteiner .vagas .headerVagas{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.vagasConteiner .vagas .headerVagas .informacaoVaga{
    display: flex;
    flex-direction: row;
}

.vagasConteiner .vagas .headerVagas .imgEmpresa img{
    width: 125px;
    height: 125px;
    margin-top: 35px;
}

.vagasConteiner .vagas .headerVagas .conteudoVaga{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.vagasConteiner .vagas .headerVagas .conteudoVaga .tituloVaga{
    display: flex;
}

.vagasConteiner .vagas .headerVagas .conteudoVaga .tituloVaga h1{
    margin-top: 25px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.vagasConteiner .vagas .headerVagas .conteudoVaga .empresaVaga{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vagasConteiner .vagas .headerVagas .conteudoVaga .empresaVaga img{
    height: 25px;
    width: 25px;
}

.vagasConteiner .vagas .footerVagas{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.vagasConteiner .vagas .footerVagas .tipoDeficiencia{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 10vw;
    border-radius: 10px;
    background-color: #2795D2;
    margin-top: 25px;
}

.vagasConteiner .vagas .footerVagas .tipoDeficiencia h2{
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.vagasConteiner .vagas .footerVagas .botaoSaibaMais button{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    width: 7vw;
    border-radius: 10px;
    background-color: #1E7596;
    color: white;
    border: none;
    margin-top: 25px;
}

footer{
    height: 100px;
    width: auto;
    background-color: #1E7596;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}

.versao{
    position: absolute;
    right: 5%;
}