*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    background-image: url(../img/wave.PNG);
    background-repeat: no-repeat;
    background-size: cover;
  
}
header{
    width: auto;
    height: 200px;
}
main{
    width: auto;
    height:800px;
}
#logo-site {
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    margin:  auto;
    margin-top: 200px;
}
#tituloSite{
    height: 100px;
    width:100px;
    display: flex;
    justify-content: center;
    margin:  auto;
    margin-top:20px;

}
h1{
    color: #225E77;
    font-size: 5rem;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
h2{
    color:#225E77;
    font-size: 5rem;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}
#desc-site{
    width:500px;
    height: 500px;
    display:flex;
    justify-content: center;
    margin: auto;
}
p{
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 300px;
    padding-left:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#btn-empresa{
  height:119px;
  width:448px;
  background-color: #1E7596;
  color: white;
  border-radius: 10px;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  margin-right: 40px;
}
.container-empresa{
    width: 70px;
    height:70px
}
.img-empresa{
    width:60px;
    height:60px;
    display: flex;
    margin-left: 10px;
}
.select-empresa{
    width: auto;
    height:100px;
    margin-left:150px;
    margin-top:-50px;
}
.container-botoes{
    height:100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-content: center;
    padding-top: 40px;
}
#btn-candidato{
    height:119px;
    width:448px;
    background-color: #1E7596;
    color: white;
    border-radius: 10px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
}
.container-candidato{
    width: 70px;
    height:70px
}
.img-candidato{
    width:60px;
    height:60px;
    display: flex;
    margin-left: 10px;
}
.select-candidato{
    width: auto;
    height:100px;
    margin-left:150px;
    margin-top:-50px;
}